<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="2.1.9-rc-00031" targetFramework="net46" />
  <package id="DSharpPlus.WebSocket.WebSocketSharp" version="2.1.9-rc-00031" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="Npgsql" version="3.2.3" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.1" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net452" />
  <package id="Telegram.Bot" version="10.4.0" targetFramework="net46" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net452" />
</packages>